<div class="contact">
  <div class="header d-flex flex-column ">
    <h1 class="text-center mt-4 fw-bold">CONATCT SECTION</h1>
    <div class="star d-flex justify-content-center align-items-center mt-2">
      <div class="line"></div>
      <i class="fa-solid fa-star  text-white mx-2"></i>
      <div class="line"></div>
    </div>
  </div>
  <form class="w-50 mx-auto my-5">
    <div class="position-relative">
      <label for="userName" [class]=" userName ?'bottom-100' : 'bottom-0' ">User Name:</label>
      <input id="userName" type="text" placeholder="userName" name="userName"
        class="form-control border-0 border-bottom py-3 my-5 position-relative " (keyup)="showName($event)">

    </div>

    <div class="position-relative">
      <label for="userAge" [class]=" userAge ?'bottom-100' : 'bottom-0' ">User Age:</label>
      <input id="userAge" type="text" placeholder="userAge" name="userAge"
        class="form-control border-0 border-bottom py-3 my-5 position-relative " (keyup)="showAge($event)">
    </div>


    <div class="position-relative">
      <label for="userEmail" [class]=" userEmail ?'bottom-100' : 'bottom-0' ">User Email:</label>
      <input id="userEmail" type="email" placeholder="userEmail" name="userEmail"
        class="form-control border-0 border-bottom py-3 my-5 position-relative " (keyup)="showEmail($event)">

    </div>
    <div class="position-relative">
      <label for="userPassword" [class]=" userPass ?'bottom-100' : 'bottom-0' ">User Password:</label>
      <input id="userPassword" type="password" placeholder="userPassword" name="userPassword"
        class="form-control border-0 border-bottom py-3 my-5 position-relative " (keyup)="showPass($event)">
    </div>


    <button class="btn mb-3 msgbtn">send Massage</button>
  </form>
</div>
