<div class="start d-flex justify-content-center align-items-center flex-column    ">
  <div class="startimg p-5">
    <img src="./assets/images/avataaars.svg" class="w-100">
  </div>
  <div class="startcontent pb-4">
    <h1 class="text-white">START FRAMEWORK</h1>
    <div class="star d-flex justify-content-center align-items-center">
      <div class="line"></div>
      <i class="fa-solid fa-star  text-white mx-2"></i>
      <div class="line"></div>
    </div>
    <div class="text-white text-center">Graphic Artist - Web Designer - Illustrator</div>
  </div>
</div>
